@{
  Layout="Shared/_Layout.cshtml";
}

<div class = "container text-center">
  <h1>Address Book</h1>
  <h3><a href="/contacts">View contacts</a></h3>
  <h3><a href="/contacts/new">Add a new contact</a></h3>
</div>
